[submodule "emacs/.config/emacs"]
	path = emacs/.config/emacs
	url = git@github.com:arjtala/dotfiles_emacs.git
	branch = master

[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
	branch = master

[submodule "zsh/.zsh/pure"]
	path = zsh/.zsh/pure
	url = https://github.com/sindresorhus/pure
	branch = main

[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/dracula/tmux
	branch = master

[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master

[submodule "tmux/.tmux/plugins/tmux-nerd-font-window-name"]
	path = tmux/.tmux/plugins/tmux-nerd-font-window-name
	url = https://github.com/joshmedeski/tmux-nerd-font-window-name
	branch = main

[submodule "tmux/.tmux/plugins/tmux-scroll-copy-mode"]
	path = tmux/.tmux/plugins/tmux-scroll-copy-mode
	url = https://github.com/nhdaly/tmux-scroll-copy-mode
	branch = master

[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
	branch = master

[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
	branch = master

[submodule "tmux/.tmux/plugins/tmux-power"]
	path = tmux/.tmux/plugins/tmux-power
	url = https://github.com/wfxr/tmux-power
	branch = master

[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
	branch = master

[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
	branch = master

[submodule "tmux/.tmux/plugins/tmux-fzf-url"]
	path = tmux/.tmux/plugins/tmux-fzf-url
	url = https://github.com/wfxr/tmux-fzf-url
	branch = master
[submodule "tmux/.tmux/plugins/tmux-thumbs"]
	path = tmux/.tmux/plugins/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs
	branch = master
[submodule "tmux/.tmux/plugins/tmux-fuzzback"]
	path = tmux/.tmux/plugins/tmux-fuzzback
	url = https://github.com/roosta/tmux-fuzzback
	branch = main
[submodule "tmux/.tmux/plugins/tmux-autoreload"]
	path = tmux/.tmux/plugins/tmux-autoreload
	url = https://github.com/b0o/tmux-autoreload
	branch = main
[submodule "tmux/.tmux/plugins/tmux-oasis"]
	path = tmux/.tmux/plugins/tmux-oasis
	url = https://github.com/uhs-robert/tmux-oasis
	branch = main
