;;; package --- local config ;; -*- emacs-lisp -*-

;;; Commentary:

;;; Code:


(setq   calendar-latitude 51.5074 
        calendar-longitude -0.1278
        calendar-location-name "London, UK"
        forecast-units "us")

(provide 'forecast-api/config)

;;; forecast-api.config.el ends here
