Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
Xft.dpi:       120

#ifndef _BASE16_ONE_DARK
#define _BASE16_ONE_DARK

#define base00 #282c34
#define base01 #353b45
#define base02 #3e4451
#define base03 #545862
#define base04 #565c64
#define base05 #abb2bf
#define base06 #b6bdca
#define base07 #c8ccd4
#define base08 #e06c75
#define base09 #d19a66
#define base0A #e5c07b
#define base0B #98c379
#define base0C #56b6c2
#define base0D #61afef
#define base0E #c678dd
#define base0F #be5046

#define fg     base05
#define bg     base00
#define	cc     base05

#define c00    base00
#define	c01    base08
#define c02    base0B
#define c03    base0A
#define c04    base0D
#define c05    base0E
#define c06    base0C
#define c07    base05

#define c08    base03
#define c09    base09
#define c10    base0B
#define c11    base09
#define c12    base0C
#define c13    base0E
#define c14    base0D
#define c15    base07


#endif

!! URxvt

! Text & Spacing
URxvt.font:xft:       	  	 Hack Nerd Font Mono:style=Regular:pixelsize=14
! URxvt.font: xft:DejaVu Sans Mono Nerd Font:style=Regular:pixelsize=10
! URxvt.font:xft:              RobotoMono Nerd Font:pixelsize=12:antialias=true
! URxvt.boldFont:xft:          RobotoMono Nerd Font:bold:pixelsize=12:antialias=true
! URxvt.font:xft:              JetBrainsMono NF:pixelsize=14:antialias=true
! URxvt.boldFont:xft:          JetBrainsMono NF:bold:pixelsize=12:antialias=true
! URxvt.font:xft:              Hack NF:pixelsize=12:antialias=true
URxvt.letterSpace:           0
URxvt.lineSpace:             0
URxvt.geometry:              124x32
URxvt.internalBorder:        24

! Scroll bar
URxvt.scrollBar:            false
URxvt.scrollBar_right:      false
URxvt.cursorBlink:          true

!! Config

! ISO off
URxvt.iso14755:              off

! Scrolling
URxvt*scrollTtyOutput:       false
URxvt*scrollWithBuffer:      true
URxvt*scrollTtyKeypress:     true

! Open & Highlight URL
URxvt*perl-ext-common:       default,matcher
URxvt.url-launcher: 		 /usr/bin/xdg-open
URxvt*matcher.button:        1
URxvt*colorUL:               white
URxvt*underlineColor:        white

!! Keybindings

! Shift
! Selecting conflict
URxvt*keysym.S-Up:           \033[1;2A
URxvt*keysym.S-Down:         \033[1;2B
URxvt*keysym.S-Right:        \033[1;2C
URxvt*keysym.S-Left:         \033[1;2D

! Shift+Control
! Selecting conflict
URxvt*keysym.S-C-Up:         \033[1;6A
URxvt*keysym.S-C-Down:       \033[1;6B
URxvt*keysym.S-C-Right:      \033[1;6C
URxvt*keysym.S-C-Left:       \033[1;6D

!! Transparency

! depth
urxvt*.depth:                32
urxvt*.transparent:          false
urxvt*.background:           [70]#040406

!! Color Scheme


! special
*.foreground:   #dddfe1
*.background:   #04080d
*.cursorColor:  #dddfe1

! black
*.color0:       #656972
*.color8:       #656972
*.color16:       #00656972

! red
*.color1:       #d077a3
*.color9:       #d077a3

! green
*.color2:       #b3bbc3
*.color10:      #b3bbc3

! yellow
*.color3:       #aec795
*.color11:      #aec795

! blue
*.color4:       #ae95c7
*.color12:      #ae95c7

! magenta
*.color5:       #95c7ae
*.color13:      #95c7ae

! cyan
*.color6:       #95aec7
*.color14:      #95aec7

! white
*.color7:       #2a2f36
*.color15:      #2c333a

! Polybar !
polybar.background:             c00
polybar.background-alt:         base01

polybar.foreground:             c15
polybar.foreground-alt:         c07

polybar.icon:                   c15
polybar.alert:                  c01

polybar.tag-focused-background:     base0F
polybar.tag-unfocused-background:   base01
polybar.tag-visible-background:     c00
polybar.tag-urgent-background:      c09

polybar.primary:      c00
polybar.secondary:    c00
polybar.tertiary:     c00
polybar.quaternary:   c00
polybar.quinary:      c00

! DWM !

! Normal Color
dwm.normbordercolor:        bg
dwm.normbgcolor:            bg
dwm.normfgcolor:            c15

! Selected Color
dwm.selbordercolor:         base0F
dwm.selbgcolor:             base02
dwm.selfgcolor:             c15

! vim:ft=xdefaults