alias notebook='nohup jupyter-notebook > ~/.jupyter/notebook.log &'
alias qtconsole='jupyter-qtconsole --pylab=inline --ConsoleWidget.font_size=10 &'
alias scs='ssh -XY arjang@scs.itd.umich.edu'
alias lfiles='find . -type f | sed '"'"'s/.*\.//'"'"' | sort | uniq -c'
alias lcount='find . ! -name . -prune -type f -print | wc -l'
alias print='lp -d _10_58_50_150 -o sides=two-sided-long-edge,media="letter"'
alias tk='ssh -AXY arjang@tk'
alias tk_rmate='ssh -AXY -R 52698:localhost:52698 tk'
alias tk_jupyter='ssh -N -f -L localhost:7777:localhost:7777 tk'
# enable color support of ls and also add handy aliases
if command -v gls >/dev/null 2>&1; then
    alias ls='gls --color=auto'
    alias ll='gls -lhtaFXG --group-directories-first --color=always'
fi
command -v gsed >/dev/null 2>&1 && alias sed='gsed'
alias tmux='tmux -2'
